    <header class="layout_header">
      <a href="#" class=""><h1 class="layout_header__logo">
        <img src="../../../_resource/images/common/logo_main.svg" class="_logo" alt="">
      </h1></a>
      <section class="header_info_group">
        <span class="header_info_txt">관리자</span>
        <span class="header_info_txt"><b>홍길동(admin)</b>님</span>
        <a href="#none" class="btn_header_info_modify">정보수정</a>
        <span class="_bar"></span>
        <button type="button" class="header_info_logout" title="로그아웃"><i class="icon_logout"></i></button>
      </section>
    </header>