<!--#include file="/_dtd.html" -->
  
  <title>TA 솔루션</title>
</head>
<body>
  <div class="wrap">
<!--#include file="/_header.html" -->
    <section class="layout_body">
<!--#include file="/_menu.html" -->
      <div class="layout_content">
<!--#include file="/_location.html" -->
        <article class="content">
          <h1 class="content_main_title">콘텐츠 타이틀</h1>
          <p class="content_main_title_txt">콘텐츠 타이틀 설명 콘텐츠 타이틀 설명 콘텐츠 타이틀 설명 콘텐츠 타이틀 설명</p>
          
          <div>content</div>
          
        </article>
      </div>
    </section>
  </div>
</body>
</html>