// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-accordion-header-name: 'icon_accordion_header';
$icon-accordion-header-x: 84px;
$icon-accordion-header-y: 70px;
$icon-accordion-header-offset-x: -84px;
$icon-accordion-header-offset-y: -70px;
$icon-accordion-header-width: 24px;
$icon-accordion-header-height: 24px;
$icon-accordion-header-total-width: 220px;
$icon-accordion-header-total-height: 154px;
$icon-accordion-header-image: '../images/sprite_out/sprite_all.png';
$icon-accordion-header: (84px, 70px, -84px, -70px, 24px, 24px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_accordion_header', );
$icon-accordion-header-active-name: 'icon_accordion_header_active';
$icon-accordion-header-active-x: 28px;
$icon-accordion-header-active-y: 70px;
$icon-accordion-header-active-offset-x: -28px;
$icon-accordion-header-active-offset-y: -70px;
$icon-accordion-header-active-width: 24px;
$icon-accordion-header-active-height: 24px;
$icon-accordion-header-active-total-width: 220px;
$icon-accordion-header-active-total-height: 154px;
$icon-accordion-header-active-image: '../images/sprite_out/sprite_all.png';
$icon-accordion-header-active: (28px, 70px, -28px, -70px, 24px, 24px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_accordion_header_active', );
$icon-btn-add-name: 'icon_btn_add';
$icon-btn-add-x: 116px;
$icon-btn-add-y: 58px;
$icon-btn-add-offset-x: -116px;
$icon-btn-add-offset-y: -58px;
$icon-btn-add-width: 7px;
$icon-btn-add-height: 7px;
$icon-btn-add-total-width: 220px;
$icon-btn-add-total-height: 154px;
$icon-btn-add-image: '../images/sprite_out/sprite_all.png';
$icon-btn-add: (116px, 58px, -116px, -58px, 7px, 7px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_btn_add', );
$icon-btn-call-view-name: 'icon_btn_call_view';
$icon-btn-call-view-x: 57px;
$icon-btn-call-view-y: 143px;
$icon-btn-call-view-offset-x: -57px;
$icon-btn-call-view-offset-y: -143px;
$icon-btn-call-view-width: 9px;
$icon-btn-call-view-height: 10px;
$icon-btn-call-view-total-width: 220px;
$icon-btn-call-view-total-height: 154px;
$icon-btn-call-view-image: '../images/sprite_out/sprite_all.png';
$icon-btn-call-view: (57px, 143px, -57px, -143px, 9px, 10px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_btn_call_view', );
$icon-btn-collect-name: 'icon_btn_collect';
$icon-btn-collect-x: 196px;
$icon-btn-collect-y: 123px;
$icon-btn-collect-offset-x: -196px;
$icon-btn-collect-offset-y: -123px;
$icon-btn-collect-width: 12px;
$icon-btn-collect-height: 12px;
$icon-btn-collect-total-width: 220px;
$icon-btn-collect-total-height: 154px;
$icon-btn-collect-image: '../images/sprite_out/sprite_all.png';
$icon-btn-collect: (196px, 123px, -196px, -123px, 12px, 12px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_btn_collect', );
$icon-btn-delete-name: 'icon_btn_delete';
$icon-btn-delete-x: 169px;
$icon-btn-delete-y: 58px;
$icon-btn-delete-offset-x: -169px;
$icon-btn-delete-offset-y: -58px;
$icon-btn-delete-width: 7px;
$icon-btn-delete-height: 1px;
$icon-btn-delete-total-width: 220px;
$icon-btn-delete-total-height: 154px;
$icon-btn-delete-image: '../images/sprite_out/sprite_all.png';
$icon-btn-delete: (169px, 58px, -169px, -58px, 7px, 1px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_btn_delete', );
$icon-btn-input-search-name: 'icon_btn_input_search';
$icon-btn-input-search-x: 78px;
$icon-btn-input-search-y: 123px;
$icon-btn-input-search-offset-x: -78px;
$icon-btn-input-search-offset-y: -123px;
$icon-btn-input-search-width: 14px;
$icon-btn-input-search-height: 14px;
$icon-btn-input-search-total-width: 220px;
$icon-btn-input-search-total-height: 154px;
$icon-btn-input-search-image: '../images/sprite_out/sprite_all.png';
$icon-btn-input-search: (78px, 123px, -78px, -123px, 14px, 14px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_btn_input_search', );
$icon-btn-reset-name: 'icon_btn_reset';
$icon-btn-reset-x: 180px;
$icon-btn-reset-y: 123px;
$icon-btn-reset-offset-x: -180px;
$icon-btn-reset-offset-y: -123px;
$icon-btn-reset-width: 12px;
$icon-btn-reset-height: 12px;
$icon-btn-reset-total-width: 220px;
$icon-btn-reset-total-height: 154px;
$icon-btn-reset-image: '../images/sprite_out/sprite_all.png';
$icon-btn-reset: (180px, 123px, -180px, -123px, 12px, 12px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_btn_reset', );
$icon-chart-zoom-name: 'icon_chart_zoom';
$icon-chart-zoom-x: 15px;
$icon-chart-zoom-y: 143px;
$icon-chart-zoom-offset-x: -15px;
$icon-chart-zoom-offset-y: -143px;
$icon-chart-zoom-width: 10px;
$icon-chart-zoom-height: 10px;
$icon-chart-zoom-total-width: 220px;
$icon-chart-zoom-total-height: 154px;
$icon-chart-zoom-image: '../images/sprite_out/sprite_all.png';
$icon-chart-zoom: (15px, 143px, -15px, -143px, 10px, 10px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_chart_zoom', );
$icon-comment-title-name: 'icon_comment_title';
$icon-comment-title-x: 0px;
$icon-comment-title-y: 143px;
$icon-comment-title-offset-x: 0px;
$icon-comment-title-offset-y: -143px;
$icon-comment-title-width: 11px;
$icon-comment-title-height: 11px;
$icon-comment-title-total-width: 220px;
$icon-comment-title-total-height: 154px;
$icon-comment-title-image: '../images/sprite_out/sprite_all.png';
$icon-comment-title: (0px, 143px, 0px, -143px, 11px, 11px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_comment_title', );
$icon-conv-csr-name: 'icon_conv_csr';
$icon-conv-csr-x: 56px;
$icon-conv-csr-y: 70px;
$icon-conv-csr-offset-x: -56px;
$icon-conv-csr-offset-y: -70px;
$icon-conv-csr-width: 24px;
$icon-conv-csr-height: 24px;
$icon-conv-csr-total-width: 220px;
$icon-conv-csr-total-height: 154px;
$icon-conv-csr-image: '../images/sprite_out/sprite_all.png';
$icon-conv-csr: (56px, 70px, -56px, -70px, 24px, 24px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_conv_csr', );
$icon-conv-user-name: 'icon_conv_user';
$icon-conv-user-x: 0px;
$icon-conv-user-y: 70px;
$icon-conv-user-offset-x: 0px;
$icon-conv-user-offset-y: -70px;
$icon-conv-user-width: 24px;
$icon-conv-user-height: 24px;
$icon-conv-user-total-width: 220px;
$icon-conv-user-total-height: 154px;
$icon-conv-user-image: '../images/sprite_out/sprite_all.png';
$icon-conv-user: (0px, 70px, 0px, -70px, 24px, 24px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_conv_user', );
$icon-data-modify-name: 'icon_data_modify';
$icon-data-modify-x: 0px;
$icon-data-modify-y: 123px;
$icon-data-modify-offset-x: 0px;
$icon-data-modify-offset-y: -123px;
$icon-data-modify-width: 16px;
$icon-data-modify-height: 16px;
$icon-data-modify-total-width: 220px;
$icon-data-modify-total-height: 154px;
$icon-data-modify-image: '../images/sprite_out/sprite_all.png';
$icon-data-modify: (0px, 123px, 0px, -123px, 16px, 16px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_data_modify', );
$icon-data-modify-off-name: 'icon_data_modify_off';
$icon-data-modify-off-x: 20px;
$icon-data-modify-off-y: 123px;
$icon-data-modify-off-offset-x: -20px;
$icon-data-modify-off-offset-y: -123px;
$icon-data-modify-off-width: 16px;
$icon-data-modify-off-height: 16px;
$icon-data-modify-off-total-width: 220px;
$icon-data-modify-off-total-height: 154px;
$icon-data-modify-off-image: '../images/sprite_out/sprite_all.png';
$icon-data-modify-off: (20px, 123px, -20px, -123px, 16px, 16px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_data_modify_off', );
$icon-drag-script-name: 'icon_drag_script';
$icon-drag-script-x: 60px;
$icon-drag-script-y: 123px;
$icon-drag-script-offset-x: -60px;
$icon-drag-script-offset-y: -123px;
$icon-drag-script-width: 14px;
$icon-drag-script-height: 14px;
$icon-drag-script-total-width: 220px;
$icon-drag-script-total-height: 154px;
$icon-drag-script-image: '../images/sprite_out/sprite_all.png';
$icon-drag-script: (60px, 123px, -60px, -123px, 14px, 14px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_drag_script', );
$icon-drop-down-name: 'icon_drop_down';
$icon-drop-down-x: 147px;
$icon-drop-down-y: 58px;
$icon-drop-down-offset-x: -147px;
$icon-drop-down-offset-y: -58px;
$icon-drop-down-width: 7px;
$icon-drop-down-height: 5px;
$icon-drop-down-total-width: 220px;
$icon-drop-down-total-height: 154px;
$icon-drop-down-image: '../images/sprite_out/sprite_all.png';
$icon-drop-down: (147px, 58px, -147px, -58px, 7px, 5px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_drop_down', );
$icon-drop-up-name: 'icon_drop_up';
$icon-drop-up-x: 136px;
$icon-drop-up-y: 58px;
$icon-drop-up-offset-x: -136px;
$icon-drop-up-offset-y: -58px;
$icon-drop-up-width: 7px;
$icon-drop-up-height: 5px;
$icon-drop-up-total-width: 220px;
$icon-drop-up-total-height: 154px;
$icon-drop-up-image: '../images/sprite_out/sprite_all.png';
$icon-drop-up: (136px, 58px, -136px, -58px, 7px, 5px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_drop_up', );
$icon-file-down-name: 'icon_file_down';
$icon-file-down-x: 43px;
$icon-file-down-y: 143px;
$icon-file-down-offset-x: -43px;
$icon-file-down-offset-y: -143px;
$icon-file-down-width: 10px;
$icon-file-down-height: 10px;
$icon-file-down-total-width: 220px;
$icon-file-down-total-height: 154px;
$icon-file-down-image: '../images/sprite_out/sprite_all.png';
$icon-file-down: (43px, 143px, -43px, -143px, 10px, 10px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_file_down', );
$icon-file-up-name: 'icon_file_up';
$icon-file-up-x: 29px;
$icon-file-up-y: 143px;
$icon-file-up-offset-x: -29px;
$icon-file-up-offset-y: -143px;
$icon-file-up-width: 10px;
$icon-file-up-height: 10px;
$icon-file-up-total-width: 220px;
$icon-file-up-total-height: 154px;
$icon-file-up-image: '../images/sprite_out/sprite_all.png';
$icon-file-up: (29px, 143px, -29px, -143px, 10px, 10px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_file_up', );
$icon-form-item-file-del-name: 'icon_form_item_file_del';
$icon-form-item-file-del-x: 181px;
$icon-form-item-file-del-y: 70px;
$icon-form-item-file-del-offset-x: -181px;
$icon-form-item-file-del-offset-y: -70px;
$icon-form-item-file-del-width: 12px;
$icon-form-item-file-del-height: 12px;
$icon-form-item-file-del-total-width: 220px;
$icon-form-item-file-del-total-height: 154px;
$icon-form-item-file-del-image: '../images/sprite_out/sprite_all.png';
$icon-form-item-file-del: (181px, 70px, -181px, -70px, 12px, 12px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_form_item_file_del', );
$icon-green-check03-off-name: 'icon_green_check03_off';
$icon-green-check03-off-x: 50px;
$icon-green-check03-off-y: 98px;
$icon-green-check03-off-offset-x: -50px;
$icon-green-check03-off-offset-y: -98px;
$icon-green-check03-off-width: 21px;
$icon-green-check03-off-height: 21px;
$icon-green-check03-off-total-width: 220px;
$icon-green-check03-off-total-height: 154px;
$icon-green-check03-off-image: '../images/sprite_out/sprite_all.png';
$icon-green-check03-off: (50px, 98px, -50px, -98px, 21px, 21px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_green_check03_off', );
$icon-green-check03-on-name: 'icon_green_check03_on';
$icon-green-check03-on-x: 147px;
$icon-green-check03-on-y: 98px;
$icon-green-check03-on-offset-x: -147px;
$icon-green-check03-on-offset-y: -98px;
$icon-green-check03-on-width: 20px;
$icon-green-check03-on-height: 20px;
$icon-green-check03-on-total-width: 220px;
$icon-green-check03-on-total-height: 154px;
$icon-green-check03-on-image: '../images/sprite_out/sprite_all.png';
$icon-green-check03-on: (147px, 98px, -147px, -98px, 20px, 20px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_green_check03_on', );
$icon-green-check-off-name: 'icon_green_check_off';
$icon-green-check-off-x: 25px;
$icon-green-check-off-y: 98px;
$icon-green-check-off-offset-x: -25px;
$icon-green-check-off-offset-y: -98px;
$icon-green-check-off-width: 21px;
$icon-green-check-off-height: 21px;
$icon-green-check-off-total-width: 220px;
$icon-green-check-off-total-height: 154px;
$icon-green-check-off-image: '../images/sprite_out/sprite_all.png';
$icon-green-check-off: (25px, 98px, -25px, -98px, 21px, 21px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_green_check_off', );
$icon-green-check-on-name: 'icon_green_check_on';
$icon-green-check-on-x: 0px;
$icon-green-check-on-y: 98px;
$icon-green-check-on-offset-x: 0px;
$icon-green-check-on-offset-y: -98px;
$icon-green-check-on-width: 21px;
$icon-green-check-on-height: 21px;
$icon-green-check-on-total-width: 220px;
$icon-green-check-on-total-height: 154px;
$icon-green-check-on-image: '../images/sprite_out/sprite_all.png';
$icon-green-check-on: (0px, 98px, 0px, -98px, 21px, 21px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_green_check_on', );
$icon-guide-bullet-name: 'icon_guide_bullet';
$icon-guide-bullet-x: 127px;
$icon-guide-bullet-y: 58px;
$icon-guide-bullet-offset-x: -127px;
$icon-guide-bullet-offset-y: -58px;
$icon-guide-bullet-width: 5px;
$icon-guide-bullet-height: 7px;
$icon-guide-bullet-total-width: 220px;
$icon-guide-bullet-total-height: 154px;
$icon-guide-bullet-image: '../images/sprite_out/sprite_all.png';
$icon-guide-bullet: (127px, 58px, -127px, -58px, 5px, 7px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_guide_bullet', );
$icon-info-down-arrow-name: 'icon_info_down_arrow';
$icon-info-down-arrow-x: 88px;
$icon-info-down-arrow-y: 58px;
$icon-info-down-arrow-offset-x: -88px;
$icon-info-down-arrow-offset-y: -58px;
$icon-info-down-arrow-width: 10px;
$icon-info-down-arrow-height: 8px;
$icon-info-down-arrow-total-width: 220px;
$icon-info-down-arrow-total-height: 154px;
$icon-info-down-arrow-image: '../images/sprite_out/sprite_all.png';
$icon-info-down-arrow: (88px, 58px, -88px, -58px, 10px, 8px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_info_down_arrow', );
$icon-info-up-arrow-name: 'icon_info_up_arrow';
$icon-info-up-arrow-x: 102px;
$icon-info-up-arrow-y: 58px;
$icon-info-up-arrow-offset-x: -102px;
$icon-info-up-arrow-offset-y: -58px;
$icon-info-up-arrow-width: 10px;
$icon-info-up-arrow-height: 8px;
$icon-info-up-arrow-total-width: 220px;
$icon-info-up-arrow-total-height: 154px;
$icon-info-up-arrow-image: '../images/sprite_out/sprite_all.png';
$icon-info-up-arrow: (102px, 58px, -102px, -58px, 10px, 8px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_info_up_arrow', );
$icon-list-add-row-name: 'icon_list_add_row';
$icon-list-add-row-x: 44px;
$icon-list-add-row-y: 26px;
$icon-list-add-row-offset-x: -44px;
$icon-list-add-row-offset-y: -26px;
$icon-list-add-row-width: 40px;
$icon-list-add-row-height: 40px;
$icon-list-add-row-total-width: 220px;
$icon-list-add-row-total-height: 154px;
$icon-list-add-row-image: '../images/sprite_out/sprite_all.png';
$icon-list-add-row: (44px, 26px, -44px, -26px, 40px, 40px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_list_add_row', );
$icon-list-remove-row-name: 'icon_list_remove_row';
$icon-list-remove-row-x: 0px;
$icon-list-remove-row-y: 26px;
$icon-list-remove-row-offset-x: 0px;
$icon-list-remove-row-offset-y: -26px;
$icon-list-remove-row-width: 40px;
$icon-list-remove-row-height: 40px;
$icon-list-remove-row-total-width: 220px;
$icon-list-remove-row-total-height: 154px;
$icon-list-remove-row-image: '../images/sprite_out/sprite_all.png';
$icon-list-remove-row: (0px, 26px, 0px, -26px, 40px, 40px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_list_remove_row', );
$icon-location-home-name: 'icon_location_home';
$icon-location-home-x: 195px;
$icon-location-home-y: 98px;
$icon-location-home-offset-x: -195px;
$icon-location-home-offset-y: -98px;
$icon-location-home-width: 18px;
$icon-location-home-height: 18px;
$icon-location-home-total-width: 220px;
$icon-location-home-total-height: 154px;
$icon-location-home-image: '../images/sprite_out/sprite_all.png';
$icon-location-home: (195px, 98px, -195px, -98px, 18px, 18px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_location_home', );
$icon-login-logo-name: 'icon_login_logo';
$icon-login-logo-x: 0px;
$icon-login-logo-y: 0px;
$icon-login-logo-offset-x: 0px;
$icon-login-logo-offset-y: 0px;
$icon-login-logo-width: 220px;
$icon-login-logo-height: 22px;
$icon-login-logo-total-width: 220px;
$icon-login-logo-total-height: 154px;
$icon-login-logo-image: '../images/sprite_out/sprite_all.png';
$icon-login-logo: (0px, 0px, 0px, 0px, 220px, 22px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_login_logo', );
$icon-logout-name: 'icon_logout';
$icon-logout-x: 123px;
$icon-logout-y: 98px;
$icon-logout-offset-x: -123px;
$icon-logout-offset-y: -98px;
$icon-logout-width: 20px;
$icon-logout-height: 20px;
$icon-logout-total-width: 220px;
$icon-logout-total-height: 154px;
$icon-logout-image: '../images/sprite_out/sprite_all.png';
$icon-logout: (123px, 98px, -123px, -98px, 20px, 20px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_logout', );
$icon-memo-title-name: 'icon_memo_title';
$icon-memo-title-x: 197px;
$icon-memo-title-y: 70px;
$icon-memo-title-offset-x: -197px;
$icon-memo-title-offset-y: -70px;
$icon-memo-title-width: 12px;
$icon-memo-title-height: 12px;
$icon-memo-title-total-width: 220px;
$icon-memo-title-total-height: 154px;
$icon-memo-title-image: '../images/sprite_out/sprite_all.png';
$icon-memo-title: (197px, 70px, -197px, -70px, 12px, 12px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_memo_title', );
$icon-more-name: 'icon_more';
$icon-more-x: 112px;
$icon-more-y: 70px;
$icon-more-offset-x: -112px;
$icon-more-offset-y: -70px;
$icon-more-width: 30px;
$icon-more-height: 16px;
$icon-more-total-width: 220px;
$icon-more-total-height: 154px;
$icon-more-image: '../images/sprite_out/sprite_all.png';
$icon-more: (112px, 70px, -112px, -70px, 30px, 16px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_more', );
$icon-page-first-name: 'icon_page_first';
$icon-page-first-x: 152px;
$icon-page-first-y: 26px;
$icon-page-first-offset-x: -152px;
$icon-page-first-offset-y: -26px;
$icon-page-first-width: 28px;
$icon-page-first-height: 28px;
$icon-page-first-total-width: 220px;
$icon-page-first-total-height: 154px;
$icon-page-first-image: '../images/sprite_out/sprite_all.png';
$icon-page-first: (152px, 26px, -152px, -26px, 28px, 28px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_page_first', );
$icon-page-last-name: 'icon_page_last';
$icon-page-last-x: 120px;
$icon-page-last-y: 26px;
$icon-page-last-offset-x: -120px;
$icon-page-last-offset-y: -26px;
$icon-page-last-width: 28px;
$icon-page-last-height: 28px;
$icon-page-last-total-width: 220px;
$icon-page-last-total-height: 154px;
$icon-page-last-image: '../images/sprite_out/sprite_all.png';
$icon-page-last: (120px, 26px, -120px, -26px, 28px, 28px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_page_last', );
$icon-page-next-name: 'icon_page_next';
$icon-page-next-x: 88px;
$icon-page-next-y: 26px;
$icon-page-next-offset-x: -88px;
$icon-page-next-offset-y: -26px;
$icon-page-next-width: 28px;
$icon-page-next-height: 28px;
$icon-page-next-total-width: 220px;
$icon-page-next-total-height: 154px;
$icon-page-next-image: '../images/sprite_out/sprite_all.png';
$icon-page-next: (88px, 26px, -88px, -26px, 28px, 28px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_page_next', );
$icon-page-prev-name: 'icon_page_prev';
$icon-page-prev-x: 184px;
$icon-page-prev-y: 26px;
$icon-page-prev-offset-x: -184px;
$icon-page-prev-offset-y: -26px;
$icon-page-prev-width: 28px;
$icon-page-prev-height: 28px;
$icon-page-prev-total-width: 220px;
$icon-page-prev-total-height: 154px;
$icon-page-prev-image: '../images/sprite_out/sprite_all.png';
$icon-page-prev: (184px, 26px, -184px, -26px, 28px, 28px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_page_prev', );
$icon-pop-close-name: 'icon_pop_close';
$icon-pop-close-x: 171px;
$icon-pop-close-y: 98px;
$icon-pop-close-offset-x: -171px;
$icon-pop-close-offset-y: -98px;
$icon-pop-close-width: 20px;
$icon-pop-close-height: 20px;
$icon-pop-close-total-width: 220px;
$icon-pop-close-total-height: 154px;
$icon-pop-close-image: '../images/sprite_out/sprite_all.png';
$icon-pop-close: (171px, 98px, -171px, -98px, 20px, 20px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_pop_close', );
$icon-search-btn-reset-name: 'icon_search_btn_reset';
$icon-search-btn-reset-x: 114px;
$icon-search-btn-reset-y: 123px;
$icon-search-btn-reset-offset-x: -114px;
$icon-search-btn-reset-offset-y: -123px;
$icon-search-btn-reset-width: 14px;
$icon-search-btn-reset-height: 14px;
$icon-search-btn-reset-total-width: 220px;
$icon-search-btn-reset-total-height: 154px;
$icon-search-btn-reset-image: '../images/sprite_out/sprite_all.png';
$icon-search-btn-reset: (114px, 123px, -114px, -123px, 14px, 14px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_search_btn_reset', );
$icon-search-btn-search-name: 'icon_search_btn_search';
$icon-search-btn-search-x: 96px;
$icon-search-btn-search-y: 123px;
$icon-search-btn-search-offset-x: -96px;
$icon-search-btn-search-offset-y: -123px;
$icon-search-btn-search-width: 14px;
$icon-search-btn-search-height: 14px;
$icon-search-btn-search-total-width: 220px;
$icon-search-btn-search-total-height: 154px;
$icon-search-btn-search-image: '../images/sprite_out/sprite_all.png';
$icon-search-btn-search: (96px, 123px, -96px, -123px, 14px, 14px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_search_btn_search', );
$icon-select-arrow-name: 'icon_select_arrow';
$icon-select-arrow-x: 212px;
$icon-select-arrow-y: 123px;
$icon-select-arrow-offset-x: -212px;
$icon-select-arrow-offset-y: -123px;
$icon-select-arrow-width: 5px;
$icon-select-arrow-height: 7px;
$icon-select-arrow-total-width: 220px;
$icon-select-arrow-total-height: 154px;
$icon-select-arrow-image: '../images/sprite_out/sprite_all.png';
$icon-select-arrow: (212px, 123px, -212px, -123px, 5px, 7px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_select_arrow', );
$icon-send-off-name: 'icon_send_off';
$icon-send-off-x: 132px;
$icon-send-off-y: 123px;
$icon-send-off-offset-x: -132px;
$icon-send-off-offset-y: -123px;
$icon-send-off-width: 12px;
$icon-send-off-height: 13px;
$icon-send-off-total-width: 220px;
$icon-send-off-total-height: 154px;
$icon-send-off-image: '../images/sprite_out/sprite_all.png';
$icon-send-off: (132px, 123px, -132px, -123px, 12px, 13px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_send_off', );
$icon-send-on-name: 'icon_send_on';
$icon-send-on-x: 148px;
$icon-send-on-y: 123px;
$icon-send-on-offset-x: -148px;
$icon-send-on-offset-y: -123px;
$icon-send-on-width: 12px;
$icon-send-on-height: 13px;
$icon-send-on-total-width: 220px;
$icon-send-on-total-height: 154px;
$icon-send-on-image: '../images/sprite_out/sprite_all.png';
$icon-send-on: (148px, 123px, -148px, -123px, 12px, 13px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_send_on', );
$icon-sound-name: 'icon_sound';
$icon-sound-x: 40px;
$icon-sound-y: 123px;
$icon-sound-offset-x: -40px;
$icon-sound-offset-y: -123px;
$icon-sound-width: 16px;
$icon-sound-height: 14px;
$icon-sound-total-width: 220px;
$icon-sound-total-height: 154px;
$icon-sound-image: '../images/sprite_out/sprite_all.png';
$icon-sound: (40px, 123px, -40px, -123px, 16px, 14px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_sound', );
$icon-toggle-column-name: 'icon_toggle_column';
$icon-toggle-column-x: 146px;
$icon-toggle-column-y: 70px;
$icon-toggle-column-offset-x: -146px;
$icon-toggle-column-offset-y: -70px;
$icon-toggle-column-width: 31px;
$icon-toggle-column-height: 12px;
$icon-toggle-column-total-width: 220px;
$icon-toggle-column-total-height: 154px;
$icon-toggle-column-image: '../images/sprite_out/sprite_all.png';
$icon-toggle-column: (146px, 70px, -146px, -70px, 31px, 12px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_toggle_column', );
$icon-tooltip-name: 'icon_tooltip';
$icon-tooltip-x: 164px;
$icon-tooltip-y: 123px;
$icon-tooltip-offset-x: -164px;
$icon-tooltip-offset-y: -123px;
$icon-tooltip-width: 12px;
$icon-tooltip-height: 12px;
$icon-tooltip-total-width: 220px;
$icon-tooltip-total-height: 154px;
$icon-tooltip-image: '../images/sprite_out/sprite_all.png';
$icon-tooltip: (164px, 123px, -164px, -123px, 12px, 12px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_tooltip', );
$icon-tree-arrow-off-name: 'icon_tree_arrow_off';
$icon-tree-arrow-off-x: 213px;
$icon-tree-arrow-off-y: 70px;
$icon-tree-arrow-off-offset-x: -213px;
$icon-tree-arrow-off-offset-y: -70px;
$icon-tree-arrow-off-width: 5px;
$icon-tree-arrow-off-height: 7px;
$icon-tree-arrow-off-total-width: 220px;
$icon-tree-arrow-off-total-height: 154px;
$icon-tree-arrow-off-image: '../images/sprite_out/sprite_all.png';
$icon-tree-arrow-off: (213px, 70px, -213px, -70px, 5px, 7px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_tree_arrow_off', );
$icon-tree-arrow-on-name: 'icon_tree_arrow_on';
$icon-tree-arrow-on-x: 158px;
$icon-tree-arrow-on-y: 58px;
$icon-tree-arrow-on-offset-x: -158px;
$icon-tree-arrow-on-offset-y: -58px;
$icon-tree-arrow-on-width: 7px;
$icon-tree-arrow-on-height: 5px;
$icon-tree-arrow-on-total-width: 220px;
$icon-tree-arrow-on-total-height: 154px;
$icon-tree-arrow-on-image: '../images/sprite_out/sprite_all.png';
$icon-tree-arrow-on: (158px, 58px, -158px, -58px, 7px, 5px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_tree_arrow_on', );
$icon-view-content-file-name: 'icon_view_content_file';
$icon-view-content-file-x: 99px;
$icon-view-content-file-y: 98px;
$icon-view-content-file-offset-x: -99px;
$icon-view-content-file-offset-y: -98px;
$icon-view-content-file-width: 20px;
$icon-view-content-file-height: 20px;
$icon-view-content-file-total-width: 220px;
$icon-view-content-file-total-height: 154px;
$icon-view-content-file-image: '../images/sprite_out/sprite_all.png';
$icon-view-content-file: (99px, 98px, -99px, -98px, 20px, 20px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_view_content_file', );
$icon-view-page-name: 'icon_view_page';
$icon-view-page-x: 75px;
$icon-view-page-y: 98px;
$icon-view-page-offset-x: -75px;
$icon-view-page-offset-y: -98px;
$icon-view-page-width: 20px;
$icon-view-page-height: 20px;
$icon-view-page-total-width: 220px;
$icon-view-page-total-height: 154px;
$icon-view-page-image: '../images/sprite_out/sprite_all.png';
$icon-view-page: (75px, 98px, -75px, -98px, 20px, 20px, 220px, 154px, '../images/sprite_out/sprite_all.png', 'icon_view_page', );
$spritesheet-width: 220px;
$spritesheet-height: 154px;
$spritesheet-image: '../images/sprite_out/sprite_all.png';
$spritesheet-sprites: ($icon-accordion-header, $icon-accordion-header-active, $icon-btn-add, $icon-btn-call-view, $icon-btn-collect, $icon-btn-delete, $icon-btn-input-search, $icon-btn-reset, $icon-chart-zoom, $icon-comment-title, $icon-conv-csr, $icon-conv-user, $icon-data-modify, $icon-data-modify-off, $icon-drag-script, $icon-drop-down, $icon-drop-up, $icon-file-down, $icon-file-up, $icon-form-item-file-del, $icon-green-check03-off, $icon-green-check03-on, $icon-green-check-off, $icon-green-check-on, $icon-guide-bullet, $icon-info-down-arrow, $icon-info-up-arrow, $icon-list-add-row, $icon-list-remove-row, $icon-location-home, $icon-login-logo, $icon-logout, $icon-memo-title, $icon-more, $icon-page-first, $icon-page-last, $icon-page-next, $icon-page-prev, $icon-pop-close, $icon-search-btn-reset, $icon-search-btn-search, $icon-select-arrow, $icon-send-off, $icon-send-on, $icon-sound, $icon-toggle-column, $icon-tooltip, $icon-tree-arrow-off, $icon-tree-arrow-on, $icon-view-content-file, $icon-view-page, );
$spritesheet: (220px, 154px, '../images/sprite_out/sprite_all.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
