<!--#include file="/_dtd.html" -->
  
<title>대체키워드관리 | 장학재단</title>
</head>
<body>
  <div class="wrap">
<!--#include file="/_header.html" -->
    <section class="layout_body">
<!--#include file="/_menu.html" -->
      <div class="layout_content">
<!--#include file="/_location.html" -->
        <article class="content">
          <h1 class="content_main_title">대체 키워드 관리</h1>
          <p class="content_main_title_txt">대체 키워드 등록으로 더 자연스러운 음성 안내를 제공합니다.</p>
          
          <section>

            <section class="search_form_group">
              <div class="search_form__row">
                <div class="_group_item">
                  <label for="" class="search_form__label">사용여부</label>
                  <div class="form_inline_group">
                    <select name="" id="" class="form_item_select">
                      <option value="">전체</option>
                      <option value="">사용</option>
                      <option value="">미사용</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="search_form__row">
                <div class="_group_item">
                  <label for="" class="search_form__label">검색어</label>
                  <div class="form_inline_group">
                    <select name="" id="" class="form_item_select">
                      <option value="">선택</option>
                      <option value="">문구</option>
                    </select>
                    <input type="text" name="" id="" class="form_item_text w600">
                  </div>
                </div>
              </div>
            </section>
            <div class="search_btn_group">
              <button type="button" class="search_btn_reset">초기화</button>
              <button type="button" class="search_btn_search">검색</button>
            </div>
            
            <section class="list_table_group">
              <div class="list_table_group__header _between">
                <div class="list_table__total">총 <strong>13</strong> 건</div>
                <div class="">
                  <button type="button" class="btn_file_down">엑셀양식 다운로드</button>
                  <button type="button" class="btn_file_down">엑셀 다운로드</button>
                </div>
              </div>
              <div class="list_table_group__body">
                <table class="list_table">
                  <colgroup>
                    <col style="width:auto">
                    <col style="width:auto">
                    <col style="width:auto">
                    <col style="width:auto">
                    <col style="width:auto">
                    <col style="width:auto">
                    <col style="width:auto">
                  </colgroup>
                  <thead>
                    <tr>
                      <th class="text_center"><input type="checkbox" name="" id=""></th>
                      <th>순번</th>
                      <th>자주사용하는 문구</th>
                      <th>사용여부</th>
                      <th>등록일</th>
                      <th>수정일</th>
                      <th>수정자</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text_center"><input type="checkbox" name="" id=""></td>
                      <td>10</td>
                      <td>안녕하세요 한국 장학재단입니다.</td>
                      <td>사용</td>
                      <td>2020-07-06 14:12:12</td>
                      <td>2020-07-06 14:12:12</td>
                      <td>admin</td>
                    </tr>
                    <tr>
                      <td class="text_center"><input type="checkbox" name="" id=""></td>
                      <td>10</td>
                      <td>안녕하세요 한국 장학재단입니다.</td>
                      <td>사용</td>
                      <td>2020-07-06 14:12:12</td>
                      <td>2020-07-06 14:12:12</td>
                      <td>admin</td>
                    </tr>
                  </tbody>
                </table>
  
                <div class="list_none">검색된 내용이 없습니다.</div>
                
              </div>
              <div class="list_table_group__foot">
                <div class="list_table_group__foot_left">
                  <a href=""><i class="icon_list_remove_row"></i></a>
                </div>
                <nav class="pagination">
                  <ul class="pagination_list">
                    <li class="page_item"><a href="#none" class="page_link _first"></a></li>
                    <li class="page_item"><a href="#none" class="page_link _prev"></a></li>
                    <li class="page_item"><a href="#none" class="page_link _active">1</a></li>
                    <li class="page_item"><a href="#none" class="page_link">2</a></li>
                    <li class="page_item"><a href="#none" class="page_link">3</a></li>
                    <li class="page_item"><a href="#none" class="page_link">4</a></li>
                    <li class="page_item"><a href="#none" class="page_link">5</a></li>
                    <li class="page_item"><a href="#none" class="page_link">6</a></li>
                    <li class="page_item"><a href="#none" class="page_link">7</a></li>
                    <li class="page_item"><a href="#none" class="page_link">8</a></li>
                    <li class="page_item"><a href="#none" class="page_link">9</a></li>
                    <li class="page_item"><a href="#none" class="page_link">10</a></li>
                    <li class="page_item"><a href="#none" class="page_link _next"></a></li>
                    <li class="page_item"><a href="#none" class="page_link _last"></a></li>
                  </ul>
                </nav>
                <div class="list_table_group__foot_right">
                  <a href="#none" class="btn_submit js-pop-open" data-target=".target-pop02">일괄 등록</a>
                  <a href="#none" class="btn_submit js-pop-open" data-target=".target-pop01">개별 등록</a>
                </div>
              </div>
            </section>

          </section>
          
        </article>
      </div>
    </section>
  </div>

  <!-- 개별등록 -->
  <article class="popup_wrap target-pop01" hidden>
    <section class="popup_item" style="width: 500px;">
      <div class="pop_header">
        <h1 class="pop_header__title">문구 개별등록</h1>
        <button type="button" class="btn_pop_close js-pop-close"></button>
      </div>
      <div class="pop_body">
        <article class="view_content">
          <div class="view_content__header">
            <div class="form_group__row">
              <label for="" class="search_form__label w90">문구</label>
              <input type="text" name="" id="" class="form_item_text w100p">
            </div>
          </div>
        </article>
        <p class="table_sub_txt">중복된 대상 키워드가 있습니다.</p>
      </div>
      <div class="pop_footer _center">
        <div class="btn_group">
          <button type="button" class="btn_pop_save">저장</button>
          <button type="button" class="btn_pop_cancel js-pop-close">취소</button>
        </div>
      </div>
    </section>
  </article>
  <!-- // 개별등록 -->


  <!-- 일괄등록 -->
  <article class="popup_wrap target-pop02" hidden>
    <section class="popup_item" style="width: 500px;">
      <div class="pop_header">
        <h1 class="pop_header__title">문구 일괄등록</h1>
        <button type="button" class="btn_pop_close js-pop-close"></button>
      </div>
      <div class="pop_body">
        <article class="view_content">
          <div class="form_group__row">
            <span class="search_form__label w60">파일찾기</span>
            <label for="file01" class="form_file_search">
              <input type="file" name="" id="file01">
              <span class="btn_form_item_search">파일 선택</span>
              <span class="form_file_name">대체어사전_sample.xlsx</span>
            </label>
          </div>
          <div class="form_group__row _column">
            <label for="" class="search_form__label">미리보기</label>
            <div class="view_content_table">
              <table>
                <colgroup>
                  <col style="width:30%;">
                  <col style="width:70%;">
                </colgroup>
                <thead>
                  <tr>
                    <th>대체어</th>
                    <th>대상어</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>문구</td>
                    <td>안녕하세요 한국 장학재단입니다.</td>
                  </tr>
                  <tr>
                    <td>문구</td>
                    <td>안녕하세요 한국 장학재단입니다.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
  
          <p class="table_sub_txt">중복된 대상 키워드가 있습니다.</p>
        </article>
      </div>
      <div class="pop_footer _center">
        <div class="btn_group">
          <button type="button" class="btn_pop_save">저장</button>
          <button type="button" class="btn_pop_cancel js-pop-close">취소</button>
        </div>
      </div>
    </section>
  </article>
  <!-- //일괄등록 -->
</body>
</html>