<!--#include file="/_dtd.html" -->
  
<title>실시간 사용현황 | 장학재단</title>
</head>
<body>
  <div class="wrap">
<!--#include file="/_header.html" -->
    <section class="layout_body">
<!--#include file="/_menu.html" -->
      <div class="layout_content">
<!--#include file="/_location.html" -->
        <article class="content">
          <h1 class="content_main_title">TTS 서버 실시간 사용 현황</h1>
          <p class="content_main_title_txt">설명</p>
          
          <section>

            <div class="flex_row_nowrap">
              <div class="flex_x_auto">
                <article class="dl_box">
                  <div class="dl_box_head _between">
                    <div class="inline_group">
                      <h1 class="dl_box_head__title">서버1 (port:8080)</h1>
                    </div>
                  </div>
                  <div class="dl_box_body">
                    <p class="table_sub_txt">1시간 기준 노출</p>
                    <div class="flex_x_auto chart_box">
                      <img src="http://www.dummyimage.com/200x150&text=chart" alt="">
                    </div>
                  </div>
                </article>
              </div>

              <div class="flex_x_auto ml20">
                <article class="dl_box">
                  <div class="dl_box_head _between">
                    <div class="inline_group">
                      <h1 class="dl_box_head__title">서버2 (port:8080)</h1>
                    </div>
                  </div>
                  <div class="dl_box_body">
                    <p class="table_sub_txt">1시간 기준 노출</p>
                    <div class="flex_x_auto chart_box">
                      <img src="http://www.dummyimage.com/200x150&text=chart" alt="">
                    </div>
                  </div>
                </article>
              </div>
            </div>

          </section>

        </article>
      </div>
    </section>
  </div>

  <!-- 팝업 -->
  <!-- <article id="popup_wrap">

  </article> -->
  <!-- // 팝업 -->
</body>
</html>