<!--#include file="/_dtd.html" -->
  
<title>TA 솔루션</title>
</head>
<body>
  <div class="wrap">
<!--#include file="/_header.html" -->
    <section class="layout_body">
<!--#include file="/_menu.html" -->
      <div class="layout_content">
<!--#include file="/_location.html" -->
        <article class="content">
          <h1 class="content_main_title">공지사항</h1>
          <p class="content_main_title_txt">공지사항 관리</p>
          
          <section>
            <section class="search_form_group">
              <div class="search_form__row">
                <label for="" class="search_form__label">기간</label>
                <div class="form_inline_group">
                  <input type="text" name="" id="" class="form_item_date">
                  <span class="_tilde">~</span>
                  <input type="text" name="" id="" class="form_item_date">
                </div>
              </div>
              <div class="search_form__row">
                <label for="" class="search_form__label">검색어</label>
                <div class="form_inline_group">
                  <select name="" id="" class="form_item_select">
                    <option value="">전체</option>
                  </select>
                  <input type="text" name="" id="" class="form_item_text w540">
                </div>
              </div>
            </section>
            <div class="search_btn_group">
              <button type="button" class="search_btn_reset">초기화</button>
              <button type="button" class="search_btn_search">분석</button>
            </div>

            <section class="list_table_group">
              <div class="list_table_group__header _between">
                <div class="list_table__total">총 <strong>13</strong> 건</div>
              </div>
              <div class="list_table_group__body">
                <table class="list_table">
                  <colgroup>
                    <col style="width:auto">
                    <col style="width:auto">
                    <col style="width:auto">
                    <col style="width:auto">
                    <col style="width:auto">
                    <col style="width:auto">
                  </colgroup>
                  <thead>
                    <tr>
                      <th></th>
                      <th>순번</th>
                      <th>제목</th>
                      <th>사용여부</th>
                      <th>등록자</th>
                      <th>등록일</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input type="checkbox" name="" id=""></td>
                      <td>10</td>
                      <td class="text_left">
                        <span class="_noti">공지</span>
                        <a href="" class="list_table_link"> 요금제 (어린이)에 대해서 알려드리는 공지사항입니다.</a>
                      </td>
                      <td>사용함</td>
                      <td>매니저 1</td>
                      <td>2022-08-01</td> 
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="" id=""></td>
                      <td>10</td>
                      <td class="text_left">
                        <a href="" class="list_table_link">요금제 (어린이)에 대해서 알려드리는 공지사항입니다.</a>
                      </td>
                      <td>사용함</td>
                      <td>매니저 1</td>
                      <td>2022-08-01</td>
                    </tr>
                  </tbody>
                </table>

                <div class="list_none">검색된 내용이 없습니다.</div>
                
              </div>
              <div class="list_table_group__foot">
                <div class="list_table_group__foot_left">
                  <a href=""><i class="icon_list_remove_row"></i></a>
                </div>
                <nav class="pagination">
                  <ul class="pagination_list">
                    <li class="page_item"><a href="#none" class="page_link _first"></a></li>
                    <li class="page_item"><a href="#none" class="page_link _prev"></a></li>
                    <li class="page_item"><a href="#none" class="page_link _active">1</a></li>
                    <li class="page_item"><a href="#none" class="page_link">2</a></li>
                    <li class="page_item"><a href="#none" class="page_link">3</a></li>
                    <li class="page_item"><a href="#none" class="page_link">4</a></li>
                    <li class="page_item"><a href="#none" class="page_link">5</a></li>
                    <li class="page_item"><a href="#none" class="page_link">6</a></li>
                    <li class="page_item"><a href="#none" class="page_link">7</a></li>
                    <li class="page_item"><a href="#none" class="page_link">8</a></li>
                    <li class="page_item"><a href="#none" class="page_link">9</a></li>
                    <li class="page_item"><a href="#none" class="page_link">10</a></li>
                    <li class="page_item"><a href="#none" class="page_link _next"></a></li>
                    <li class="page_item"><a href="#none" class="page_link _last"></a></li>
                  </ul>
                </nav>
                <div class="list_table_group__foot_right">
                  <a href="#none" class="btn_submit">등록</a>
                </div>
              </div>
            </section>
          </section>

        </article>
      </div>
    </section>
  </div>

  <!-- 팝업 -->
  <!-- <article id="popup_wrap">

  </article> -->
  <!-- // 팝업 -->
</body>
</html>