<!--#include file="/_dtd.html" -->
  
<title>계정정보 수정</title>
</head>
<body>
  <div class="wrap">
<!--#include file="/_header.html" -->
    <section class="layout_body">
<!--#include file="/_menu.html" -->
      <div class="layout_content">
<!--#include file="/_location.html" -->
        <article class="content">
          <h1 class="content_main_title">계정정보 수정</h1>
          <p class="content_main_title_txt">계정정보를 수정 할 수 있는 서비스</p>
          
          <section>
            <article class="view_content">
              <div class="form_group__row">
                <label for="" class="search_form__label w120">이름/사원번호</label>
                <span class="_view_txt">홍길동(123456)</span>
              </div>
              <div class="form_group__row">
                <label for="" class="search_form__label w120">비밀번호 수정</label>
                <input type="password" name="" id="" class="form_item_text">
              </div>
              <div class="form_group__row">
                <label for="" class="search_form__label w120">비밀번호 수정확인</label>
                <input type="password" name="" id="" class="form_item_text">
              </div>
              <div class="form_group__row">
                <label for="" class="search_form__label w120">부서명</label>
                <span class="_view_txt">본부명 &gt; 팀명</span>
              </div>
              <div class="form_group__row">
                <label for="" class="search_form__label w120">상담원 여부</label>
                <span class="_view_txt">YES</span>
              </div>
              <div class="form_group__row">
                <label for="" class="search_form__label w120">권한등급</label>
                <span class="_view_txt">상담원</span>
              </div>
              <div class="form_group__row">
                <label for="" class="search_form__label w120">사용여부</label>
                <span class="_view_txt">사용함</span>
              </div>
              <div class="form_group__row">
                <label for="" class="search_form__label w120">최종로그인 일시</label>
                <span class="_view_txt">2019-01-21  08:10:12</span>
              </div>
            </article>
          </section>

          <div class="btn_page_end_group">
            <button type="button" class="btn_page_cancel">취소</button>
            <button type="button" class="btn_page_modify">수정</button>
          </div>
        </article>
      </div>
    </section>
  </div>
</body>
</html>