<!--#include file="/_dtd.html" -->

<title>로그인</title>
</head>
<body>
  <div class="login_wrap">
    <article class="login_box">
      <h1 class="login_title"><i class="icon_login_logo"></i>TA시각화 / 관리</h1>
      
      <section class="login_form">
        <h1 class="login_form__title">로그인</h1>
        <input type="text" name="" id="" class="login_form_txt w100p" placeholder="사원번호">
        <input type="password" name="" id="" class="login_form_txt w100p" placeholder="비밀번호">
        <button type="button" class="btn_login">로그인</button>
      </section>
      <p class="login_sub_txt">비밀번호 초기화는 관리자에게 문의하세요.</p>
    </article>
  </div>
</body>
</html>