<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.mediazen.tts.mapper.UserMapper">

	<select id="findByUsername" parameterType="String" resultType="kr.co.mediazen.tts.model.UserVO">
        SELECT id, password_enc as password, username, department, phone, role, created_at::TIMESTAMP AS created_at, modified_at::TIMESTAMP AS modified_at 
        FROM users 
        WHERE id = #{id}
    </select>

    <insert id="join" parameterType="kr.co.mediazen.tts.model.UserVO">
        INSERT INTO users (id, password_enc, username, department, phone, role)
        VALUES (#{id}, #{password}, #{username}, #{department}, #{phone}, #{role})
    </insert>

</mapper>